.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
  }
  
  .hero {
    max-width: 170px;
    border-radius: 50%;
    margin: auto;
  }
  
  span {
    display: flex;
    justify-content: center;
  }
  
  .socialIcons {
    display: flex;
    gap: 25px;
    justify-content: center;
  }
  
  .socialIcons span {
    display: flex;
    justify-content: center;
  }
  
  .socialIcons span a {
    margin: 0;
  }
  
  .socialIcons span a img {
    width: 30px;
    background-color: transparent;
  }
  
  a {
    width: fit-content;
    align-self: center;
  }
  
  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 156px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .colorModeContainer {
    position: relative;
  }
  
  .toggleContainer {
    position: absolute;
    top: 0;
    right: -50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .colorMode {
    max-width: 35px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
  }
  
  .colorMode:hover {
    transform: scale(1.1);
  }
  
  .langToggle {
    max-width: 35px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
  }
  
  .langToggle:hover {
    transform: scale(1.1);
  }
  
  .description {
    max-width: 30ch;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  
  @media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      .hero {
        max-width: 350px;
        width: 350px;
      }
    }

    .toggleContainer {
      right: -60px;
    }
  }
  
  @media (width >= 1400px) {
    .container {
      .hero {
        max-width: 400px;
        width: 400px;
      }
    }
  }